<ion-view title="Key Locations" id="page8">
  <ion-content padding="true" style="background: url(img/mweDK6RSdeXmTGoR3yog_green_city.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <ion-list id="keyLocations-list3">
      <ion-item id="keyLocations-list-item13">Shopokova 123A</ion-item>
      <ion-item id="keyLocations-list-item14">Gagarina 17</ion-item>
      <ion-item id="keyLocations-list-item15">Pushkina 133</ion-item>
    </ion-list>
  </ion-content>
</ion-view>