<ion-view title="Вход" hide-nav-bar="true" id="page11">
  <ion-content padding="true" style="background: url(img/oAwKSf4SYuzdZfwTT4Sf_bishkek.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 184px;"></div>
    <h3 style="text-align:center; color:white;">Вход</h3>
    <form id="login-form3" class="list">
      <ion-list id="login-list10">

        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email"   ng-model="user.email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Пароль</span>
          <input type="password"   ng-model="user.password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="auth()" id="login-button6" style="font-weight:600;" class="button button-positive button-block">Войти</a>
      <a ui-sref="signup()" id="login-button7" style="font-weight:600;" class="button button-dark button-block button-clear">Регистрация</a>
    </form>
  </ion-content>
</ion-view>