<ion-view title="Местоположение" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-contact"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/JUjKqGvnRYSMwXFAFa86_City.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card manual-card-fullwidth #33CD5F" id="page2-card22">
      <ion-item class="item-avatar item-icon-right" id="page2-list-item33">
        <img src="img/RXvoesBMRwKBmC1foXPH_girl.jpg">
        <h2>ID</h2>
        <i class="icon ion-location"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/QLX0VbOtTz7F9GOvoMyg_bishkek_map.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page2-list-item-container5">
        <div id="page2-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Адрес:</strong>
          </p>
        </div>
      </div>
      <form id="page2-form2" class="list">
        <label class="item item-input" id="page2-textarea1">
          <span class="input-label">School</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
    <div class="list card manual-card-fullwidth" id="page2-card23">
      <ion-item class="item-avatar" id="page2-list-item55">
        <img src="img/i7unT0QDO22z7z8DAlCA_boy.jpg">
        <h2>ID #2</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/cTfv04QURcO9sNddI1Ul_bishkek_map.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page2-list-item-container7">
        <div id="page2-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Адрес:</strong>
          </p>
        </div>
      </div>
      <form id="page2-form5" class="list">
        <label class="item item-input" id="page2-textarea2">
          <span class="input-label">School</span><textarea placeholder=""></textarea></label>
      </form>
    </div>
  </ion-content>
</ion-view>