<ion-view title="Уведомления" id="page4">
  <ion-content padding="true" style="background: url(img/AjKkBmBuSyuFvpmaTkT0_city.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page4-list4">
      <ion-item class="item-icon-left balanced" id="page4-list-item23">
        <i class="icon ion-android-checkmark-circle"></i> Айбек достиг места @Школа</ion-item>
      <ion-item id="page4-list-item24">Item 2</ion-item>
      <ion-item id="page4-list-item25">Item 3</ion-item>
    </ion-list>
    <ion-list id="page4-list5">
      <ion-item id="page4-list-item26">Item 1</ion-item>
      <ion-item id="page4-list-item27">Item 2</ion-item>
      <ion-item id="page4-list-item28">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>