<ion-view title="Restricted Zones" id="page9">
  <ion-content padding="true" style="background: url(img/egQvlO6ATr2zEgBjYNhz_getto.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="restrictedZones-list2">
      <ion-item class="item-icon-left" id="restrictedZones-list-item10">
        <i class="icon ion-ios-location"></i>CyberSport, Shopokova 124</ion-item>
      <ion-item class="item-icon-left" id="restrictedZones-list-item11">
        <i class="icon ion-ios-location"></i>Fanat, Gagarina 23</ion-item>
      <ion-item class="item-icon-left" id="restrictedZones-list-item12">
        <i class="icon ion-ios-location"></i>MyShisha, Shopokova 133</ion-item>
    </ion-list>
  </ion-content>
</ion-view>