<ion-view title="Settings" id="page5" style="background-color:#DDDDDD;">
  <ion-content padding="true" style="background: url(img/6HyPZ4KSpSplLndf1T7f_City.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="settings-list9">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Child 1</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Child 2</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle7">Child 3</ion-toggle>
      <ion-item class="positive" id="settings-list-item42" ui-sref="tabsController.aboutUs()">About Us</ion-item>
    </ion-list>
  </ion-content>
</ion-view>